* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  background: linear-gradient(33deg, rgba(242,242,255,1) 0%, rgba(235,249,255,1) 100%);

}
img {
  width: 100%;
}
.hide {
  display: none;
}
.contactSection {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
.contactSection .image {
  width: 50%;
}
.formWraper {
  padding: 2rem;
  margin: 2rem;
  background-color: #6d69fc;
  color: #fff;
  border-radius: 1.6rem;
}
.formWraper h1 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1rem;
}

#form textarea,
#form input {
  margin-bottom: 8px;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.3rem;
}
#form input[type="submit"] {
  background: #e6e6e6;
  color: #6d69fc;
  
}

@media (max-width: 576px) {
  .contactSection {
    flex-direction: column;
  }
  .contactSection .image {
    width: 60%;
  }
}
